In [81]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [82]:
data=pd.read_csv('Churn_Modelling.csv')

In [83]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [84]:
# Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [85]:
# Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [86]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [87]:
geography = st.selectbox(
    "Select Geography",
    ["France", "Germany", "Spain"]
)

2026-02-11 12:09:51.708 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.709 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.711 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.712 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.716 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.718 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-11 12:09:51.719 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [88]:
geo_encoded = onehot_encoder_geo.transform([[geography]]).toarray()

c:\mydesktop\Data Science\churn_regression\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [89]:
geo_encoded_df = pd.DataFrame(
    geo_encoded,
    columns=onehot_encoder_geo.get_feature_names_out(['Geography'])
)

In [90]:
# combine one-hot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [91]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,NaN,NaN,NaN
2,502,0,42,8,159660.80,3,1,0,113931.57,1,NaN,NaN,NaN
3,699,0,39,1,0.00,2,0,0,93826.63,0,NaN,NaN,NaN
4,850,0,43,2,125510.82,1,1,1,79084.10,0,NaN,NaN,NaN

In [92]:
# Split the data into features and target
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [93]:
# Split the data into train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [94]:
x_train

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
9069,619,0,32,4,175406.13,2,1,1,1,NaN,NaN,NaN
2603,643,0,34,7,160426.07,1,0,1,0,NaN,NaN,NaN
7738,561,1,33,6,0.00,2,0,0,0,NaN,NaN,NaN
1579,618,1,41,8,37702.79,1,1,1,0,NaN,NaN,NaN
5058,714,1,37,9,148466.93,2,0,1,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,1,54,8,69712.74,1,1,1,0,NaN,NaN,NaN
5191,682,0,58,1,0.00,1,1,1,0,NaN,NaN,NaN
5390,735,0,38,1,0.00,3,0,0,1,NaN,NaN,NaN
860,667,1,43,8,190227.46,1,1,0,1,NaN,NaN,NaN
7270,697,1,51,1,147910.30,1,1,1,0,NaN,NaN,NaN

In [95]:
# Scale these features
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

c:\mydesktop\Data Science\churn_regression\venv\lib\site-packages\sklearn\utils\extmath.py:1144: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\mydesktop\Data Science\churn_regression\venv\lib\site-packages\sklearn\utils\extmath.py:1149: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\mydesktop\Data Science\churn_regression\venv\lib\site-packages\sklearn\utils\extmath.py:1169: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [100]:
import pickle

with open("Lb_Encoding/label_encoder_gender.pkl", "wb") as f:
    pickle.dump(label_encoder_gender, f)

with open("One_Hot_Encoding/onehot_encoder_geo.pkl", "wb") as f:
    pickle.dump(onehot_encoder_geo, f)

with open("scaled_data/scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

FileNotFoundError: [Errno 2] No such file or directory: 'Lb_Encoding/label_encoder_gender.pkl'

## ANN regression problem statemnt

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential([
    Dense(64, activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # out layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [ ]:
# set up the tensorboard
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%y%m%d-%H%M%S")
tensorBoard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [ ]:
# set up Early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [ ]:
# Train the model
history=model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[tensorBoard_callback,early_stopping_callback]
)

Epoch 1/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100825.6484 - mae: 100825.6484 - val_loss: 98373.8359 - val_mae: 98373.8359
Epoch 2/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100825.4375 - mae: 100825.4375 - val_loss: 98373.6094 - val_mae: 98373.6094
Epoch 3/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100825.1875 - mae: 100825.1875 - val_loss: 98373.3750 - val_mae: 98373.3750
Epoch 4/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100824.9688 - mae: 100824.9688 - val_loss: 98373.1406 - val_mae: 98373.1406
Epoch 5/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100824.8047 - mae: 100824.8047 - val_loss: 98372.9375 - val_mae: 98372.9375
Epoch 6/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100824.5391 - mae: 100824.5391 - val_loss: 98372.7500 - val_mae: 98372.7500
Epoch 7/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100824.3281 - mae: 100824.3281 - val_loss: 98372.5312 - val_mae: 98372.5312
Epoch 8/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100824.1250 - mae: 100824.1250 - val_loss: 98372.3203 - val_mae: 98372.3203
Epoch 9/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100823.9297 - mae: 100823.9297 - val_loss: 98372.0781 - val_mae: 98372.0781
Epoch 10/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100823.6641 - mae: 100823.6641 - val_loss: 98371.8516 - val_mae: 98371.8516
Epoch 11/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100823.4531 - mae: 100823.4531 - val_loss: 98371.6250 - val_mae: 98371.6250
Epoch 12/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100823.2500 - mae: 100823.2500 - val_loss: 98371.4141 - val_mae: 98371.4141
Epoch 13/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100822.9922 - mae: 100822.9922 - val_loss: 98371.1797 - val_mae: 98371.1797
Epoch 14/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100822.7734 - mae: 100822.7734 - val_loss: 98370.9688 - val_mae: 98370.9688
Epoch 15/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100822.6094 - mae: 100822.6094 - val_loss: 98370.7656 - val_mae: 98370.7656
Epoch 16/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100822.3750 - mae: 100822.3750 - val_loss: 98370.5469 - val_mae: 98370.5469
Epoch 17/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100822.1328 - mae: 100822.1328 - val_loss: 98370.3359 - val_mae: 98370.3359
Epoch 18/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100821.9062 - mae: 100821.9062 - val_loss: 98370.0938 - val_mae: 98370.0938
Epoch 19/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100821.7109 - mae: 100821.7109 - val_loss: 98369.8750 - val_mae: 98369.8750
Epoch 20/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100821.4688 - mae: 100821.4688 - val_loss: 98369.6641 - val_mae: 98369.6641
Epoch 21/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100821.2812 - mae: 100821.2812 - val_loss: 98369.4375 - val_mae: 98369.4375
Epoch 22/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100821.0859 - mae: 100821.0859 - val_loss: 98369.2344 - val_mae: 98369.2344
Epoch 23/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100820.8281 - mae: 100820.8281 - val_loss: 98368.9922 - val_mae: 98368.9922
Epoch 24/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100820.5859 - mae: 100820.5859 - val_loss: 98368.7969 - val_mae: 98368.7969
Epoch 25/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100820.3906 - mae: 100820.3906 - val_loss: 98368.5859 - val_mae: 98368.5859
Epoch 26/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100820.1719 - mae: 100820.1719 - val_loss: 98368.3594 - val_mae: 98368.3594
Epoch 27/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100819.9219 - mae: 100819.9219 - val_loss: 98368.1094 - val_mae: 98368.1094
Epoch 28/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100819.7031 - mae: 100819.7031 - val_loss: 98367.9062 - val_mae: 98367.9062
Epoch 29/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100819.5391 - mae: 100819.5391 - val_loss: 98367.6875 - val_mae: 98367.6875
Epoch 30/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100819.2344 - mae: 100819.2344 - val_loss: 98367.4844 - val_mae: 98367.4844
Epoch 31/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100819.0938 - mae: 100819.0938 - val_loss: 98367.2734 - val_mae: 98367.2734
Epoch 32/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100818.8594 - mae: 100818.8594 - val_loss: 98367.0312 - val_mae: 98367.0312
Epoch 33/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100818.6484 - mae: 100818.6484 - val_loss: 98366.8281 - val_mae: 98366.8281
Epoch 34/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100818.3750 - mae: 100818.3750 - val_loss: 98366.6016 - val_mae: 98366.6016
Epoch 35/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100818.2188 - mae: 100818.2188 - val_loss: 98366.3750 - val_mae: 98366.3750
Epoch 36/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100817.9922 - mae: 100817.9922 - val_loss: 98366.1328 - val_mae: 98366.1328
Epoch 37/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100817.7578 - mae: 100817.7578 - val_loss: 98365.9297 - val_mae: 98365.9297
Epoch 38/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100817.5156 - mae: 100817.5156 - val_loss: 98365.7266 - val_mae: 98365.7266
Epoch 39/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100817.2891 - mae: 100817.2891 - val_loss: 98365.5078 - val_mae: 98365.5078
Epoch 40/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100817.1250 - mae: 100817.1250 - val_loss: 98365.2891 - val_mae: 98365.2891
Epoch 41/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100816.9141 - mae: 100816.9141 - val_loss: 98365.0703 - val_mae: 98365.0703
Epoch 42/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100816.6641 - mae: 100816.6641 - val_loss: 98364.8438 - val_mae: 98364.8438
Epoch 43/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100816.4375 - mae: 100816.4375 - val_loss: 98364.6172 - val_mae: 98364.6172
Epoch 44/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100816.2109 - mae: 100816.2109 - val_loss: 98364.4141 - val_mae: 98364.4141
Epoch 45/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100816.0000 - mae: 100816.0000 - val_loss: 98364.1484 - val_mae: 98364.1484
Epoch 46/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100815.7812 - mae: 100815.7812 - val_loss: 98363.9453 - val_mae: 98363.9453
Epoch 47/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100815.5859 - mae: 100815.5859 - val_loss: 98363.7422 - val_mae: 98363.7422
Epoch 48/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100815.3359 - mae: 100815.3359 - val_loss: 98363.5391 - val_mae: 98363.5391
Epoch 49/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100815.1250 - mae: 100815.1250 - val_loss: 98363.3281 - val_mae: 98363.3281
Epoch 50/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100814.9141 - mae: 100814.9141 - val_loss: 98363.0938 - val_mae: 98363.0938
Epoch 51/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100814.7188 - mae: 100814.7188 - val_loss: 98362.8672 - val_mae: 98362.8672
Epoch 52/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100814.5000 - mae: 100814.5000 - val_loss: 98362.6484 - val_mae: 98362.6484
Epoch 53/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100814.2812 - mae: 100814.2812 - val_loss: 98362.4297 - val_mae: 98362.4297
Epoch 54/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100814.0781 - mae: 100814.0781 - val_loss: 98362.2109 - val_mae: 98362.2109
Epoch 55/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100813.7969 - mae: 100813.7969 - val_loss: 98361.9766 - val_mae: 98361.9766
Epoch 56/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100813.5781 - mae: 100813.5781 - val_loss: 98361.7891 - val_mae: 98361.7891
Epoch 57/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100813.3672 - mae: 100813.3672 - val_loss: 98361.5703 - val_mae: 98361.5703
Epoch 58/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100813.1719 - mae: 100813.1719 - val_loss: 98361.3438 - val_mae: 98361.3438
Epoch 59/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100812.9297 - mae: 100812.9297 - val_loss: 98361.1016 - val_mae: 98361.1016
Epoch 60/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100812.7344 - mae: 100812.7344 - val_loss: 98360.8984 - val_mae: 98360.8984
Epoch 61/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100812.4688 - mae: 100812.4688 - val_loss: 98360.6797 - val_mae: 98360.6797
Epoch 62/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100812.2969 - mae: 100812.2969 - val_loss: 98360.4766 - val_mae: 98360.4766
Epoch 63/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100812.0781 - mae: 100812.0781 - val_loss: 98360.2578 - val_mae: 98360.2578
Epoch 64/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100811.8594 - mae: 100811.8594 - val_loss: 98360.0078 - val_mae: 98360.0078
Epoch 65/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100811.6172 - mae: 100811.6172 - val_loss: 98359.8203 - val_mae: 98359.8203
Epoch 66/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100811.4297 - mae: 100811.4297 - val_loss: 98359.5938 - val_mae: 98359.5938
Epoch 67/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100811.1641 - mae: 100811.1641 - val_loss: 98359.3828 - val_mae: 98359.3828
Epoch 68/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100810.9531 - mae: 100810.9531 - val_loss: 98359.1328 - val_mae: 98359.1328
Epoch 69/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100810.7969 - mae: 100810.7969 - val_loss: 98358.9141 - val_mae: 98358.9141
Epoch 70/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100810.5156 - mae: 100810.5156 - val_loss: 98358.7109 - val_mae: 98358.7109
Epoch 71/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100810.3203 - mae: 100810.3203 - val_loss: 98358.4922 - val_mae: 98358.4922
Epoch 72/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100810.1016 - mae: 100810.1016 - val_loss: 98358.2969 - val_mae: 98358.2969
Epoch 73/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100809.9453 - mae: 100809.9453 - val_loss: 98358.0625 - val_mae: 98358.0625
Epoch 74/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100809.6484 - mae: 100809.6484 - val_loss: 98357.8438 - val_mae: 98357.8438
Epoch 75/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100809.4531 - mae: 100809.4531 - val_loss: 98357.6328 - val_mae: 98357.6328
Epoch 76/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100809.2031 - mae: 100809.2031 - val_loss: 98357.3828 - val_mae: 98357.3828
Epoch 77/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100809.0000 - mae: 100809.0000 - val_loss: 98357.1484 - val_mae: 98357.1484
Epoch 78/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100808.8203 - mae: 100808.8203 - val_loss: 98356.9531 - val_mae: 98356.9531
Epoch 79/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100808.5703 - mae: 100808.5703 - val_loss: 98356.7578 - val_mae: 98356.7578
Epoch 80/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100808.3359 - mae: 100808.3359 - val_loss: 98356.5547 - val_mae: 98356.5547
Epoch 81/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100808.1016 - mae: 100808.1016 - val_loss: 98356.3281 - val_mae: 98356.3281
Epoch 82/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100807.8594 - mae: 100807.8594 - val_loss: 98356.0859 - val_mae: 98356.0859
Epoch 83/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100807.6953 - mae: 100807.6953 - val_loss: 98355.8594 - val_mae: 98355.8594
Epoch 84/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100807.5156 - mae: 100807.5156 - val_loss: 98355.6406 - val_mae: 98355.6406
Epoch 85/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100807.2344 - mae: 100807.2344 - val_loss: 98355.4375 - val_mae: 98355.4375
Epoch 86/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100807.0469 - mae: 100807.0469 - val_loss: 98355.2031 - val_mae: 98355.2031
Epoch 87/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100806.8359 - mae: 100806.8359 - val_loss: 98354.9766 - val_mae: 98354.9766
Epoch 88/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100806.5859 - mae: 100806.5859 - val_loss: 98354.7812 - val_mae: 98354.7812
Epoch 89/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100806.3281 - mae: 100806.3281 - val_loss: 98354.5703 - val_mae: 98354.5703
Epoch 90/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100806.1562 - mae: 100806.1562 - val_loss: 98354.3438 - val_mae: 98354.3438
Epoch 91/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100805.8984 - mae: 100805.8984 - val_loss: 98354.1016 - val_mae: 98354.1016
Epoch 92/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100805.7031 - mae: 100805.7031 - val_loss: 98353.8906 - val_mae: 98353.8906
Epoch 93/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100805.5312 - mae: 100805.5312 - val_loss: 98353.6719 - val_mae: 98353.6719
Epoch 94/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100805.3047 - mae: 100805.3047 - val_loss: 98353.4609 - val_mae: 98353.4609
Epoch 95/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100805.0938 - mae: 100805.0938 - val_loss: 98353.2500 - val_mae: 98353.2500
Epoch 96/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100804.8281 - mae: 100804.8281 - val_loss: 98353.0156 - val_mae: 98353.0156
Epoch 97/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100804.6250 - mae: 100804.6250 - val_loss: 98352.8203 - val_mae: 98352.8203
Epoch 98/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100804.3984 - mae: 100804.3984 - val_loss: 98352.5938 - val_mae: 98352.5938
Epoch 99/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100804.1406 - mae: 100804.1406 - val_loss: 98352.3594 - val_mae: 98352.3594
Epoch 100/100
219/219 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100803.9609 - mae: 100803.9609 - val_loss: 98352.1172 - val_mae: 98352.1172

In [ ]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit260210-213046

Reusing TensorBoard on port 6006 (pid 24476), started 13:43:29 ago. (Use '!kill 24476' to kill it.)

In [ ]:
# Evaluate the model on test data 
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'Test MAE:{test_mae}')

94/94 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 98352.1172 - mae: 98352.1172
Test MAE:98352.1171875

In [ ]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.